[user]
  name  = ninsy
  email = kwojciechowski094@gmail.com

[core]
  editor = nvim
  pager  = delta 

[push]
  autoSetupRemote = true

[alias]
  aliases = !git config --get-regexp '^alias\\.'
  # TODO: manage all worktrees within same vscode session for given project?
  # TODO: prompt/completion to list available branches?
  worktree-add = "!f() { \
    default_branch=$(git config --get init.defaultBranch) ;\
    branch=${1:-$(git rev-parse --abbrev-ref HEAD)} ;\
    repo_path=$(git rev-parse --show-toplevel) ;\
    repo=$(basename $repo_path) ; \
    worktree_path=\"$HOME/git-worktrees/$repo-$branch\"  ; \
    git -C $repo_path checkout $default_branch; \
    mkdir -p $HOME/git-worktrees && \
    git worktree add $worktree_path $branch ;\
    tmux new-window -n \"worktree@$branch\" -c \"$worktree_path\"; \
  }; f"
  co  = checkout
  new = checkout -b
  st  = status
  d   = diff
  a   = add
  fzf-add =!git ls-files -m | fzf -m --preview='git diff --color=always {}' --preview-window=right:60% | xargs git add
  fa = fzf-add
  fzf-unstage =!git diff --name-only --staged | fzf -m --preview='git diff --color=always {}' --preview-window=right:60% | xargs git restore --staged
  fu = fzf-unstage
  b   = branch
  fix = commit --amend --no-edit --verbose
  c   = commit --verbose
  b   =!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'
  la  =!git config -l | grep alias | cut -c 7-
  month-commit = "!f() { \
    year=\"${1:-$(gdate +%Y)}\"; \
    month=\"${2:-$(gdate +%m)}\"; \
    since=$(gdate -d \"$year-$month-1\" +%Y-%m-%d); \
    until=$(gdate -d \"$year-$month-1 +1 month -1 day\" +%Y-%m-%d); \
    git log --since=\"$since\" --until=\"$until\" --author=\"$(git config user.email)\" --pretty=format:'[%h]%ad : %s'; \
  }; f"
  mc = month-commit
  pull-default = "!f() { \
    git stash -u; \
    default=$(git remote show origin | sed -n '/HEAD branch/s/.*: //p'); \
    git pull origin $default; \
    git stash pop; \
  }; f"
  pd = pull-default

# git rev-parse --abbrev-ref HEAD

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate     = true
  dark         = true
  side-by-side = true
  line-numbers = true

[credential]
  helper = osxkeychain

# TODO: migrate to nvim too...
[merge]
  tool 		= vscode
  conflictstyle = zdiff3  

[mergetool "vscode"]
  cmd = code --wait $MERGED

# TODO: migrate?
[diff]
  tool       = vscode
  colorMoved = default

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

# TODO: change? 
[pull]
  rebase = true
  ff = only
